body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #1F2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
  }

/* style for header */

.header {
    display: flex;
    background-color: #1F2937;
    padding: 15px 200px;
    padding-bottom: 50px;
    align-items: center;
}

.header-links {
    display: flex;
    gap: 50px;
}

.header-links:nth-child(2) {
    margin-left: auto; /* pushes links to the right of logo */
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 500;
}

.link {
    font-size: 18px;
}

.link a {
    text-decoration: none;
    color: #E5E7EB;
}

/* style for main */

.main {
    display: flex;
    background-color: #1F2937;
    padding: 50px 200px;
    justify-content: center;
    align-items: stretch;
}

.text-and-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 60%;
}

.big-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.small-text {
    font-size: 18px;
    color: #E5E7EB;
}

.image {
    margin-left: auto;
}

img {
    max-width: 200px;
    height: auto;
}

.sign-up {
    background-color: #3882f6;
    color: white;
    font-size: 14px;
    padding: 5px 25px;
    border-radius: 5px;
    margin-top: 10px;
}

/* style for random-info */

.random-info {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50px 200px;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-bottom: 15px;
}

.boxes {
    display: flex;
    gap: 50px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 125px;
}

.box-border {
    height: 125px;
    width: 125px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.box-text {
    display: flex;
    margin-top: 15px;
    font-size: 12px;
}

/* style for quote */

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 50px 350px;
    justify-content: center;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote-author {
    font-weight: bold;
    align-self: flex-end;
}

/* style call-to-action */

.call-to-action {
    display: flex;
    background-color: white;
    padding: 50px 200px;
    justify-content: center;
    align-items: center;
}

.blue-box {
    display: flex;
    align-items: center;
    background-color: #3882f6;
    padding: 50px 125px;
    border-radius: 10px;
    gap: 50px;
}

.blue-box-text {
    display: flex;
    flex-direction: column;
    color: white;
}

.bigger-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 500;
}

.smaller-text {
    font-size: 18px;
    color: #E5E7EB;
}

.button > .sign-up {
    border: 1px solid white;
}